/* Copy pasta to match width with padding
–––––––––––––––––––––––––––––––––––––––––––––––––– */
*
{
	box-sizing: border-box;
}


/* width */
::-webkit-scrollbar
{
	width: 8px;
	height: 8px;
}

/* Track */
::-webkit-scrollbar-track
{
	background: #f1f1f1;
	/*background: rgba(255, 255, 255, 0.0);*/
}

/* Handle */
::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	background: rgba(136, 136, 136, 1);
	/*background: #888;*/
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
{
	background: #555;
}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html
{
	font-size: 62.5%;
	height: 100%;

	/* fluff */
	overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}
body
{
	margin: 0;
	padding: 0;
	font-size: 1.6em; /* currently ems cause chrome bug misinterpreting rems on body element */
	line-height: 1.5;
	font-weight: 400;
	font-family: 'Roboto', 'HelveticaNeue', 'Helvetica', 'Inconsolata', 'Open Sans', 'Arial', sans-serif;
	color: rgb(50, 50, 50);
	background-color: #d4d4d4;
	min-height: 100%;
	height: 100%;
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6
{
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 300;
}

h1 { font-size: 3.5em; line-height: 1.2;  letter-spacing: -.05em; margin-bottom: 0.5em;}
h2 { font-size: 2.6em; line-height: 1.25; letter-spacing: -.05em; margin-bottom: 0.5em; margin-top: 0.3em;}
h3 { font-size: 2.0em; line-height: 1.3;  letter-spacing: -.03em; margin-bottom: 0.5em; margin-top: 0.3em;}
h4 { font-size: 1.6em; line-height: 1.35; letter-spacing: -.03em; margin-bottom: 0.5em; margin-top: 0.3em;}
h5 { font-size: 1.2em; line-height: 1.5;  letter-spacing: -.03em; margin-bottom: 0.5em; margin-top: 0.3em;}
h6 { font-size: 1em;   line-height: 1.6;  letter-spacing: 0;      margin-bottom: 0.5em; margin-top: 0.75em;}

p
{
	margin-top: 0;
}

ul
{
	padding-left: 0.3em;
}

/* Main page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#div-body-wrapper
{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1vw;
	grid-auto-rows: minmax(1.5em, auto);
}

#div-header-logo
{
	text-align: center;
	grid-row: 1;
	grid-column: 1 / 3;
	padding: 1.4vw;
	background: #272822;
	min-height: 4em;
  height: 100%;
}

#span-header-logo
{
	padding: 0.2em 1em 0.2em 1em;
	font-family: monospace;
	color: #A6E22E;
	font-size: 2em;
}

#div-col-01
{
	padding: 1vw 1vw 1vw 5vw;
	grid-row: 2;
}

#div-col-02
{
	padding: 1vw 5vw 1vw 1vw;
	grid-row: 2;
}

#div-footer
{
	height: auto;
	grid-row: 3;
	grid-column: 1 / 3;
	padding: 8vw 4vw 1vw 4vw;
}


.chart-img
{
	justify-self: center;
	width: auto;
	max-width: 95%;
}

.img-grid
{
	padding-top: 1.3em;
	display: grid;
	grid-auto-flow: row;
	grid-row-gap: 2em;
}

@media (min-width: 1800px) {

	.chart-img
	{
		justfy-self: center;
		max-width: 100%;
	}

	.img-grid
	{
		grid-gap: 1em;
		display: grid;
		grid-template-columns: auto auto;
	}

}
@media (min-width:750px) and (max-width:1000px) {

	.chart-img
	{
		justfy-self: center;
		max-width: 100%;
	}

	.img-grid
	{
		grid-gap: 1em;
		display: grid;
		grid-template-columns: auto auto;
	}

}


/* Tables and lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

table
{
	border-collapse: collapse;
	width: 100%;
}

td, th
{
	border: 1px solid #dddddd;
	text-align: left;
	padding: 0.35vw;
}

tr:nth-child(even)
{
	background-color: #dddddd;
}

ul, li
{
	padding: 0.3vw;
}

table.num
{
    counter-reset: rowNumber;
}

table.num tr:not(:first-child)
{
    counter-increment: rowNumber;
}

table.num tr td:first-child::before
{
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}